<div class="card mb-3">
  <h2 class="card-header h4">
    Coffee Order #<%= coffee_order.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Coffe type</dt>
      <dd>
        <% if @coffee_order.coffe_type.present? %>
          <%= link_to coffee_order.coffe_type, coffee_order.coffe_type %>
        <% end %>
      </dd>

      <dt>Dairy type</dt>
      <dd>
        <% if @coffee_order.dairy_type.present? %>
          <%= link_to coffee_order.dairy_type, coffee_order.dairy_type %>
        <% end %>
      </dd>

      <dt>Iced</dt>
      <dd><%= coffee_order.iced %></dd>

      <dt>Modifications other</dt>
      <dd><%= coffee_order.modifications_other %></dd>

      <dt>Rating</dt>
      <dd><%= coffee_order.rating %></dd>

      <dt>Picture</dt>
      <dd>
        <%= cl_image_tag @coffee_order.picture, class: "img-fluid" %>
      </dd>

      <dt>Date</dt>
      <dd><%= coffee_order.date %></dd>

      <dt>User</dt>
      <dd>
        <% if @coffee_order.user.present? %>
          <%= link_to coffee_order.user, coffee_order.user %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back coffee_order, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_coffee_order_url(coffee_order), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to coffee_order, method: :delete, data: { confirm: "Do you really want to delete this coffee_order?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(coffee_order.updated_at) %> ago
  </div>
</div>
